<style>
#help > fieldset { margin: 1%; }
.box { padding: 1%; margin: 1%; }
.type { color: white; background-color: black; border: thick solid black; border-radius: 50px; }
#help > fieldset > ul > li { list-style: none; display: inline-block; padding: 1%;}
#help > fieldset > ul { padding: 0; }
</style>

<div id='help'>
  <fieldset id='action'>
    <legend>actions</legend>
    <ul>
      <li><span class='material-icons box'>auto_fix_high</span><span class='action'>zap</span></li>
      <li><span class='material-icons box'>mail</span><span class='action'>invite</span></li>
      <li><span class='material-icons box'>settings</span><span class='action'>settings</span></li>
      <li><span class='material-icons box'>badge</span><span class='action'>badge</span></li>
    </ul>
  </fieldset>
  
  <fieldset id='icon'>
    <legend>icon</legend>
    <ul>
      <li><span class='material-icons box'>stars</span><span class='description'>rider</span></li>
      <li><span class='material-icons box'>circle</span><span class='description'>sponsor</span></li>
      <li><span class='material-icons box'>change_history</span><span class='description'>influencer</span></li>
      <li><span class='material-icons box'>check_box_outline_blank</span><span class='description'>staff</span></li>
    </ul>
  </fieldset>
  
  <fieldset id='decoration'>
    <legend>decoration</legend>
    <ul style=''>
      <li><span class='material-icons box' style='border: thick solid black;'>apps</span><span class='description'>10</span></li>
      <li><span class='material-icons box' style='border: thick double black;'>apps</span><span class='description'>100</span></li>
      <li><span class='material-icons box' style='border: thick dotted black;'>apps</span><span class='description'>1000</span></li>
      <li><span class='material-icons box' style='border: thick solid white;'>apps</span><span class='description'>10000</span></li>
    </ul>
    <ul style=''>
      <li><span class='box' style='border: thick solid red;'>new</span></li>
      <li><span class='box' style='border: thick solid green;'>vetran</span></li>
      <li><span class='box' style='border: thick solid blue;'>manager</span></li>
      <li><span class='box' style='border: thick solid silver;'>legend</span></li>
      <li><span class='box' style='border: thick solid gold;'>god</span></li>
    </ul>
  </fieldset>
  
  <fieldset id='shield'>
    <legend>shield</legend>
    <p><span class='type'>rider</span></p>
    <ul>
      <li><span class='material-icons box' style='color: green;'>circle</span><span class='description'>road</span></li>
      <li><span class='material-icons box' style='color: yellow;'>circle</span><span class='description'>tour</span></li>
      <li><span class='material-icons box' style='color: blue;'>circle</span><span class='description'>garage</span></li>
      <li><span class='material-icons box' style='color: purple;'>circle</span><span class='description'>media</span></li>
      <li><span class='material-icons box' style='color: red;'>circle</span><span class='description'>office</span></li>
    </ul>
    <p><span class='type'>staff</span></p>
    <ul>
      <li><span class='material-icons box' style='color: yellow;'>circle</span><span class='description'>front of house</span></li>
      <li><span class='material-icons box' style='color: blue;'>circle</span><span class='description'>back of house</span></li>
      <li><span class='material-icons box' style='color: purple;'>circle</span><span class='description'>operations</span></li>
      <li><span class='material-icons box' style='color: red;'>circle</span><span class='description'>security</span></li>
    </ul>
    <p><span class='type'>influencer</span></p>
    <ul>
      <li><span class='material-icons box' style='color: orange;'>circle</span><span class='description'>lead</span></li>
      <li><span class='material-icons box' style='color: green;'>circle</span><span class='description'>support</span></li>
      <li><span class='material-icons box' style='color: purple;'>circle</span><span class='description'>background</span></li>
    </ul>
    </fieldset>
</div>
